{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.1"}
        org.clojure/test.check {:mvn/version "1.1.1"}}
 :aliases
 {:dev {:extra-paths ["dev" "test"]
        :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                     nrepl/nrepl {:mvn/version "1.6.0"}
                     io.github.hive-agi/hive-dsl {:git/tag "v0.3.8" :git/sha "6f44e1b"}}}
  :test {:extra-paths ["test"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                      io.github.hive-agi/hive-dsl {:git/tag "v0.3.8" :git/sha "6f44e1b"}}
         :main-opts ["-m" "kaocha.runner"]}}}
