{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.1"}
        org.clojure/test.check {:mvn/version "1.1.1"}}
 :aliases
 {:dev {:extra-paths ["dev" "test"]
        :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                     nrepl/nrepl {:mvn/version "1.7.0"}
                     io.github.hive-agi/hive-dsl {:git/tag "v0.5.1" :git/sha "335869e"}}}
  :test {:extra-paths ["test"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                      io.github.hive-agi/hive-dsl {:git/tag "v0.5.1" :git/sha "335869e"}}
         :main-opts ["-m" "kaocha.runner"]}

  ;; Clojars publishing (see ../hive-build). version = the repo's VERSION file.
  :build
  {:deps {io.github.clojure/tools.build {:mvn/version "0.10.9"}
          slipset/deps-deploy {:mvn/version "0.2.2"}}
   :ns-default build}}}
