#kaocha/v1
 {:tests [{:id :unit
           :test-paths ["test"]
           :ns-patterns ["hive-test\\..*-test$"]}
          {:id :property
           :test-paths ["test"]
           :ns-patterns ["hive-test\\..*-property-test$"]}]}
